.card-editor {
  &-form {
    margin-bottom: 20px;
    border-top: 1px solid $makerGrey;
    border-left: 1px solid $makerGrey;

    form {
      display: flex;
      flex-wrap: wrap;
    }

    .inp {
      &-text,
      &-select,
      &-textarea {
        flex: 1 1 30%;
        border-width: 0 1px 1px 0;
      }

      &-textarea {
        flex-basis: 100%;
      }
    }
    
  }

  &-btn-area {
    display: flex;
    flex: 1 0 100%;

    .inp-file,
    .btn {
      flex: 1 1 50%;
    }

    .inp-file {
      border-width: 0 1px 1px 0;
    }

    .btn {
      border-radius: 0;
    }

    .loader {
      width: 23px;
      height: 23px;
      margin: 6px auto 7px;
      border-radius: 50%;
      border: 3px solid $makerLightGrey;
      border-top: 3px solid $makerPink;
      animation: spin 1.5s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

