.maker {
  &-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .header,
    .footer {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 100;
    }

    .header {
      top: 0;
    }
    .footer {
      bottom: 0;
    }
  }
  
  &-content {
    display: flex;
    min-height: calc(100vh - 144px);
    background-color: $makerWhite;

    @media screen and (max-width: $breakPoint) {
      flex-direction: column;
    }
  }

  &-editor,
  &-preview {
    flex-basis: 50%;
    padding: 30px 110px;

    @media screen and (max-width: $breakPoint) {
      padding: 30px 20px;
    }
  }

  &-editor {
    border-right: 1px solid $makerLightGrey;

    @media screen and (max-width: $breakPoint) {
      border-bottom: 1px solid $makerLightGrey;
    }
  }

  &-title {
    margin-bottom: 20px;
    text-align: center;
  }
}