.btn {
  border-radius: 5px;
  border: 1px solid transparent;

  &-small {
    padding: 5px 10px;
    font-weight: 300;
    font-size: 12px;
  }

  &-medium {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
  }

  &-large {
    padding: 15px 30px;
    font-weight: 700;
    font-size: 16px;
  }

  &-full {
    width: 100%;
  }

  &-white {
    background-color: $makerWhite;
    border-color: $makerGrey;
    color: $makerBlack;
  }

  &-grey {
    background-color: $makerDarkWhite;
    color: $makerBlack;
  }
  
  &-blue {
    background-color: $makerBlue;
    color: $makerWhite;
  }

  &-pink {
    background-color: $makerLightPink;
    color: $makerBlack;
  }

  &:hover {
    opacity: 0.9;
  }
}