.wrap {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.inp {
  &-text,
  &-select,
  &-textarea,
  &-file {
    border: 1px solid $makerGrey;
    font-size: 16px;
    line-height: 34px;
    box-sizing: border-box;
    color: $makerBlack;

    &::placeholder {
      font-weight: 100;
      color: $makerGrey;
    }
  }
  &-text {
    padding: 0 5px;
  }

  &-select {
    padding: 0;

    &:invalid {
      font-weight: 100;
      color: $makerGrey;
    }

    option {
      font-weight: 400;
      color: $makerBlack;
    }
  }

  &-textarea {
    padding: 0 5px;
    font-family: $quoteFont;
    font-style: italic;
    resize: none;
  }
}

@import 'button';