// font
$globalFont: 'Noto Sans KR', 'Nanum Gothic', '나눔고딕', sans-serif;
$quoteFont: 'Courier New', Courier, monospace;

// breakPoint
$breakPoint: '1280px';

// color
$makerBlack: black;
$makerWhite: white;
$makerDarkWhite: #f5f5f3;
$makerGrey: #678;
$makerPink: #ffb0a8;
$makerLightGrey: #e8e7e6;
$makerLightPink: #ffeae8;
$makerGreen: #385461;
$makerBlue: #1c64b6;
$makerJordi: #d8ffe9;
$makerDarkJordi: #c3e9d3;